$main-bg-color: #18181d;
$white-color: #fff;
$player-bg-color: #5773ff;
$results-bg-color: #25252d;
$results-border-color: #494a4b;

.Main {
  background-image: url('../../content/artist-background/sb.jpg');
  background-position: 100% -200px;
  background-size: cover;
  display: grid;
  grid-area: Main;
  grid-template-areas: 'Main__upper' 'Main__tiles-box';
  grid-template-rows: 40% 1fr;
  overflow-y: auto;
  position: relative;

  &::before {
    background: linear-gradient(
      0deg,
      rgba(24, 24, 29, 1) 55%,
      rgba(0, 0, 0, 0) 100%
    );
    content: '';
    height: 100%;
    position: fixed;
    width: 100%;
  }

  &__upper {
    grid-area: Main__upper;
  }

  &__header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 2em 2em 0;
    position: absolute;
    width: 100%;
    z-index: 1000;
  }

  &__tiles-box {
    display: grid;
    gap: 1em 1em;
    grid-area: Main__tiles-box;
    grid-template-areas:
      'TopArtists TopArtists Player'
      'Genres TopCharts Player';
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 2em;
    z-index: 1000;

    /*@media (max-width: 2560px) {
      height: 800px;
    }

    @media (max-width: 1920px) {
      height: 550px;
    }

    @media (max-width: 1250px) {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-areas:
      'TopArtists TopArtists'
      'Genres TopCharts'
      'Player Player';
    }*/
  }

  &__results {
    border: 2px solid $results-border-color;
    border-radius: 10px;
    left: 2em;
    max-height: 30%;
    overflow-y: auto;
    position: absolute;
    top: 6em;
    width: 250px;
    z-index: 1000;
  }

  &__result-box {
    border-bottom: 2px solid $results-border-color;
    display: grid;
    grid-template-areas: 'Main__result-image Main__result-name';
    grid-template-columns: 50px 1fr
  }

  &__result-box:last-child {
    border: 0;
  }

  &__result-image {
    grid-area: Main__result-image;
    height: 50px;
    width: 50px;
  }

  &__result-btn {
    align-items: center;
    background-color: $results-bg-color;
    border: 0;
    color: $white-color;
    cursor: pointer;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-size: .8em;
    font-weight: bold;
    grid-area: Main__result-name;
    justify-content: center;

    &:focus {
      outline: none;
    }

    &:hover {
      background-color: lighten($results-bg-color, 5%);
    }
  }
}
